<h2>
  <b>Оплата услуги:</b>
  <%= @chronopay_link.name %>
</h2>

<br/>

<p>
  <b><%= t('activerecord.attributes.chronopay_link.pay_product_id') %>:</b>
  <%= @chronopay_link.pay_product_id %>
</p>

<p>
  <b><%= t('activerecord.attributes.chronopay_link.product_price') %>:</b>
  <%= @chronopay_link.product_price %>
</p>

<br/>
